<md-dialog aria-label="Add picture" id="add-picture-modal">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Add picture</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="answer('quit')">
      <md-icon class="material-icons">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div>
      <img ng-src="{{image}}" style="max-width: 640px; max-height: 480px;"/>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="answer('quit')" class="md-primary">
      Quit
    </md-button>
    <md-button ng-click="answer('upload')" class="md-primary">
      Upload
    </md-button>
  </div>
  </form>
</md-dialog>