 <label class="md-warn md-raised md-button" md-ink-ripple for="file-input">
    <md-icon class="material-icons">add</md-icon>
 </label>

<!-- <input id="file-input" type="file" 
	   ng-model="photo" class="upload"
	   onchange="angular.element(this).scope().uploadPhoto(this)"
	   accept="image/*"/> -->

<input id="file-input" type="file" class="upload"
	   onchange="angular.element(this).scope().uploadPhoto(this)"
	   nv-file-select uploader="uploader"/>
<!-- 
<ul>
    <li ng-repeat="item in uploader.queue">
        Name: <span ng-bind="item.file.name"></span><br/>
        <button ng-click="item.upload()">upload</button>
    </li>
</ul> -->