@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";
@import "angular-material/angular-material";
@import "bootstrap-material-design";

#footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}


#navigation{
	background-color: #2c3e50;
}