@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "bootstrap-material-design";

#footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}